* {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.dm-sans_100 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.dm-sans_200 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.dm-sans_1000 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fff;
  font-size: 2vmin;
  height: 100%;
  color: #000;
}
a {
  color: inherit;
  text-decoration: none;
}
.marvel-button {
  width: 8vw;
  height: 4.5vh;
  margin: 3vh auto;
  background-color: #fff;
  color: #fff;
  font-weight: 800;
  line-height: 4vh;
  position: relative;
  z-index: 2;
  clip-path: polygon(10% 0%, 100% 0%, 100% 65%, 90% 100%, 0% 100%, 0% 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.marvel-button:hover .inside-bg {
  background-color: #c75534;
  color: #fff;
  font-weight: 900;
  transition: 0.3s;
}
.inside-bg {
  width: 97%;
  height: 90%;
  background-color: #999;
  clip-path: polygon(10% 0%, 100% 0%, 100% 65%, 90% 100%, 0% 100%, 0% 30%);
  transition: 0.3s;
}

/* 헤더 */
.black-top-bar {
  background-color: #333;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  animation: topAnime 0.3s ease-in forwards;
}
.top-bar-center {
  display: flex;
  height: 5vh;
}
.black-top-bar span {
  color: #fff;
  line-height: 0vh;
  letter-spacing: 0.2vw;
  font-size: 0.7vw;
  opacity: 0;
  width: 0;
  overflow: hidden;
  animation: opacityRight 1s ease-in-out forwards;
  animation-delay: 0.3s;
  display: flex;
  justify-content: center;
}
.black-top-bar img {
  scale: 80%;
  opacity: 0;
  animation: FadeIn 2s ease forwards;
  animation-delay: 1s;
}
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes topAnime {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 5vh;
    opacity: 1;
  }
}
@keyframes opacityRight {
  0% {
    line-height: 0;
    opacity: 0;
    width: 0;
  }
  20% {
    line-height: 5vh;
    opacity: 1;
    width: 100px;
  }
  100% {
    line-height: 5vh;
    opacity: 1;
    width: 380px;
  }
}
.middle-top-logo {
  width: 100%;
  height: 5vh;
  border-bottom: 1px solid #000;
}
.middle-top-logo .top-logo {
  width: 9vw;
  height: 5vh;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.middle-top-logo span {
  color: #fff;
  font-size: 2.5vw;
  line-height: 5vh;
  text-decoration-line: overline, underline;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.top-logo span:nth-child(1) {
  opacity: 0;
  animation: written 0.5s ease-in forwards;
  animation-duration: 0.4s;
  animation-delay: 0;
}
.top-logo span:nth-child(2) {
  opacity: 0;
  animation: written 0.5s ease-in forwards;
  animation-duration: 0.6s;
  animation-delay: 1;
}
.top-logo span:nth-child(3) {
  opacity: 0;
  animation: written 0.5s ease-in forwards;
  animation-duration: 0.8s;
  animation-delay: 2;
}
.top-logo span:nth-child(4) {
  opacity: 0;
  animation: written 0.5s ease-in forwards;
  animation-duration: 1s;
  animation-delay: 3;
}
.top-logo span:nth-child(5) {
  opacity: 0;
  animation: written 0.5s ease-in forwards;
  animation-duration: 1.2s;
  animation-delay: 4;
}
.top-logo span:nth-child(6) {
  opacity: 0;
  animation: written 0.5s ease-in forwards;
  animation-duration: 1.4s;
  animation-delay: 5;
}
@keyframes written {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.row-top-bar {
  width: 100%;
  height: 5vh;
  border-bottom: 1px solid #000;
  display: flex;
  position: relative;
}
.row-top-bar .left-box {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
}
.row-top-bar .left-box .left-btn {
  line-height: 5vh;
  border-right: 1px solid #000;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}
.row-top-bar .left-box .left-btn span {
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 0.1vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.row-top-bar .left-box .right-btn {
  line-height: 2vh;
  margin-top: 0.7vh;
  text-align: center;
  flex-grow: 1.3;
  flex-basis: 0;
}
.row-top-bar .left-box .right-btn .up {
  font-size: 1vw;
  font-weight: 700;
}
.row-top-bar .left-box .right-btn .down {
  font-size: 0.6vw;
  letter-spacing: 0.2vw;
}
.row-top-bar .right-box {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
}
.row-top-bar .right-box i {
  font-size: 1.5vw;
  line-height: 5vh;
  padding-left: 1vw;
  padding-right: 1vw;
}
.row-top-bar .right-box .search-box {
  width: 100%;
  height: 5vh;
  background-color: #eee;
  border-left: 1px solid #000;
}
.row-top-bar .right-box .search-box::before {
  content: "검색어를 입력하세요";
  color: #999;
  line-height: 5vh;
  margin-left: 1vw;
  letter-spacing: 0.1vw;
  transition: 0.3s;
}
.row-top-bar .right-box:hover .search-box::before {
  opacity: 0;
  transition: 0.3s;
}

/* 상단_메뉴 */
.row-top-bar .menu {
  flex-basis: 0;
  flex-grow: 3;
  z-index: 2;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.row-top-bar > .menu > .navi {
  display: flex;
  width: 80%;
  margin: 0 auto;
  transition: 0.3s;
}
.row-top-bar > .menu > .navi:hover a {
  color: #000;
  transition: 0.3s;
}
.row-top-bar > .menu > .navi:hover li:not(:hover) > a {
  color: #ccc;
  transition: 0.3s;
}
.row-top-bar > .menu > .navi > li {
  flex-grow: 1;
  height: 5vh;
  text-align: center;
  transition: 0.3s;
}
.row-top-bar > .menu > .navi > li > a {
  line-height: 5vh;
  font-size: 0.8vmax;
  letter-spacing: 2px;
  transition: 0.3s;
}
.row-top-bar > .menu > .navi:hover .sub-menu a {
  color: #d33b35;
}
.sub-menu {
  position: absolute;
  width: 100%;
  left: 0;
  display: none;
  /* background-color: #fff; */
  background-color: #333;
  box-shadow: 0px 2px 3px #555;
  border-bottom: 1px solid #000;
  z-index: 1;
}
.sub-menu > li {
  width: 100%;
  height: 100%;
  color: #000;
}
.sub-menu ul {
  display: flex;
}
.sub-menu ul > li {
  flex-grow: 1;
  flex-basis: 0;
}
.sub-more {
  height: 30vh;
}
.sub-more > li > a {
  font-weight: 900;
  font-size: 30px;
  line-height: 30vh;
  letter-spacing: 2px;
  opacity: 0.5;
}
.sub-more > li:hover > a {
  opacity: 1;
}
.sub-list {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.news-box ul {
  width: 500px;
  margin: 0 auto;
}
.sub-news {
  width: 1200px;
  height: 350px;
}
.sub-news img {
  width: 100%;
}
.sub-news .img-mask {
  width: 250px;
  height: 200px;
  transition: 0.3s;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.sub-news li {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 300px;
  margin: 10px 10px;
  transition: 0.2s;
  padding-top: 10px;
  /* background-color: #999; */
  background-color: #ebb732;
  clip-path: polygon(0% 0%, 100% 0%, 100% 275px, 235px 100%, 0% 100%, 0% 0%);
}
.sub-news li:hover .img-mask {
  transition: 0.3s;
  height: 130px;
}
.sub-news li:hover .inside-con {
  opacity: 1;
  transition: 0.3s;
}
/* .sub-news li:hover::before {
  scale: 0.97;
} */
.sub-news li::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 274px;
  height: 304px;
  margin-right: 0px;
  margin-top: -7px;
  transition: 0.2s;
  background-color: #eee;
  box-shadow: 1px 1px 3px #999;
  clip-path: polygon(0% 0%, 100% 0%, 100% 270px, 230px 100%, 0% 100%, 0% 0%);
}
.sub-news .sub-page-title {
  font-size: 17px;
  width: 85%;
  height: 120px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.sub-news h4 {
  height: 60px;
  color: #000;
}
.sub-news .inside-con {
  width: 100%;
  margin-top: 5px;
  text-align: left;
  font-size: 13px;
  opacity: 0.2;
  transition: 0.3s;
}
.sub-page-title .inside-con > span {
  font-size: 13px;
  line-height: 15px;
}
.comic-box ul {
  width: 500px;
  margin: 0 auto;
}
.sub-comic {
  width: 900px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-comic img {
  border: none;
}
.sub-comic li {
  width: 170px;
  height: 170px;
  margin: 0 10px;
  transition: 0.2s;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-comic li:hover {
  scale: 1.02;
  transition: 0.2s;
}
.sub-comic .sub-page-title {
  width: 150px;
}
.comics-title {
  position: absolute;
  width: 180px;
  top: 150px;
  margin-top: 10px;
  transition: 0.5s;
}
.comics-title .name {
  font-size: 16px;
  height: 40px;
  color: #fff;
  transition: 0.3s;
}
.char-card:hover .name {
  color: #d33b35;
  transition: 0.3s;
}
.comics-title .con {
  font-size: 13px;
  color: #999;
  letter-spacing: 2px;
}
.char-card:hover .comi {
  -webkit-mask-image: linear-gradient(to top, transparent, black 50%);
  mask-image: linear-gradient(to top, transparent, black 50%);
}
.char-card:hover .fadeIn {
  filter: blur(1px);
}
.fadeIn {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.character {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-mask-image: linear-gradient(to top, transparent, black 20%);
  mask-image: linear-gradient(to top, transparent, black 50%);
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}
.char-card:hover .comics-title {
  transform: translate3d(0%, -10px, 100px);
  scale: 1.1;
  transition: 0.5s;
}
.char-box {
  box-sizing: border-box;
}
.char-box ul {
  width: 800px;
  margin: 0 auto;
}
/* 캐릭터 입체 */
:root {
  --card-height: 150px;
  --card-width: calc(var(--card-height) / 1.5);
}
.char-card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}
.char-card:hover .wrapper {
  opacity: 0.6;
}
.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 170%;
  z-index: -1;
  border-radius: 10px;
  border: 2px solid #eee;
  overflow: hidden;
}
.char-card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.char-card:hover .Incard {
  margin-top: 100%;
  opacity: 0;
  transition: 0.3s;
}
.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.char-card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}
.char-card:hover .wrapper::after {
  height: 120px;
}
.char-title {
  width: 100%;
  padding: 5px 0;
  transition: transform 0.5s;
  margin-bottom: 10px;
  transition: 0.5s;
  opacity: 0;
}
.Incard {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 55%;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}
.Incard::before {
  content: "";
  width: 100%;
  height: 2px;
  top: 30%;
  left: 0;
  background-color: #fff;
  position: absolute;
}
.left-card,
.right-card {
  text-align: center;
  width: 50%;
}
.one-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Incard h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
}
.Incard span {
  font-size: 14px;
  line-height: 20px;
}
.char-card:hover .char-title {
  transform: translate3d(0%, -40px, 100px);
  scale: 1.3;
  transition: 0.5s;
  opacity: 1;
}
.char-card:hover .character {
  opacity: 1;
  scale: 1.1;
  transform: translate3d(0%, -30%, 100px);
}
.sub-char {
  width: 900px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-char img {
  /* width: 150px; */
  border: none;
}
.sub-char li {
  width: 170px;
  height: 170px;
  margin: 0 10px;
  transition: 0.2s;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-char .sub-page-title {
  width: 150px;
}
.movi-box ul {
  width: 500px;
  margin: 0 auto;
}
.sub-movie {
  width: 900px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-movie img {
  border: none;
}
.sub-movie li {
  width: 170px;
  height: 170px;
  margin: 0 10px;
  transition: 0.2s;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-movie li:hover {
  scale: 1.02;
  transition: 0.2s;
}
.sub-movie .sub-page-title {
  width: 150px;
}
.sub-movie .wrapper {
  border: 2px solid #eee;
}
.sub-movie:hover .wrapper {
  border: none;
}
.sub-movie .wrapper::after {
  bottom: 0;
  opacity: 0;
}
.sub-movie li:hover .wrapper::after {
  bottom: 0;
  opacity: 0.2;
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(12, 13, 19, 0.2) 68%,
    rgba(12, 13, 19) 97%
  );
}
.char-card:hover .fade {
  -webkit-mask-image: linear-gradient(
    to top,
    transparent,
    black 70%
  ); /* For Webkit browsers */
  mask-image: linear-gradient(to top, transparent, black 50%);
}
.char-card:hover .fade01 {
  scale: 1.2;
  -webkit-mask-image: linear-gradient(
    to top,
    transparent,
    black 40%
  ); /* For Webkit browsers */
  mask-image: linear-gradient(to top, transparent, black 50%);
}
.show-box ul {
  width: 500px;
  margin: 0 auto;
}
.sub-show {
  width: 900px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-show img {
  border: none;
}
.sub-show li {
  width: 170px;
  height: 170px;
  margin: 0 10px;
  transition: 0.2s;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-show li:hover {
  scale: 1.02;
  transition: 0.2s;
}
.sub-show .sub-page-title {
  width: 150px;
}
.sub-game {
  width: 900px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-game li {
  width: 150px;
  height: 250px;
  margin: 0 10px;
  transition: 0.2s;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-game li:hover {
  scale: 1.02;
  transition: 0.2s;
}
.sub-game img {
  border: none;
}
.sub-game .sub-page-title {
  width: 170px;
}
.game-box ul {
  width: 500px;
  margin: 0 auto;
}
.char-card:hover .game {
  transform: translate3d(0%, -70%, 100px);
  scale: 1.2;
  transition: 0.7s;
}
.char-card:hover .game01 {
  transform: translate3d(5%, -24%, 100px);
  scale: 1.2;
  transition: 0.9s;
  rotate: 12deg;
}
.char-card:hover .game02 {
  transform: translate3d(0%, -27%, 100px);
  scale: 1.25;
  transition: 0.7s;
  rotate: 5deg;
}
.char-card:hover .game03 {
  transform: translate3d(0%, -30%, 100px);
  scale: 1.3;
  transition: 0.5s;
  rotate: -13deg;
}
.char-card:hover .game04 {
  transform: translate3d(-15%, -35%, 100px);
  scale: 1.1;
  transition: 0.7s;
}
.char-card:hover .game05 {
  transform: translate3d(18%, -30%, 100px);
  scale: 1.2;
  transition: 0.7s;
  rotate: 15deg;
}
.char-card:hover .game06 {
  transform: translate3d(0%, -40%, 100px);
  scale: 1.2;
  transition: 0.9s;
}
.char-card:hover .game07 {
  transform: translate3d(8%, -70%, 100px);
  scale: 0.7;
  transition: 0.7s;
}
.char-card:hover .game08 {
  transform: translate3d(30%, -17%, 100px);
  scale: 0.9;
  transition: 0.7s;
}
.char-card:hover .game09 {
  transform: translate3d(-30%, -25%, 100px);
  scale: 0.9;
  transition: 0.7s;
  -webkit-mask-image: linear-gradient(to top, transparent, black 50%);
  mask-image: linear-gradient(to top, transparent, black 50%);
}
.char-card:hover .show {
  transform: translate3d(0%, -30%, 100px);
  scale: 1.4;
  transition: 0.7s;
  -webkit-mask-image: linear-gradient(to top, transparent, black 50%);
  mask-image: linear-gradient(to top, transparent, black 50%);
}
.char-card:hover .show02 {
  transform: translate3d(0%, -20%, 100px);
  scale: 1.35;
  transition: 0.7s;
  -webkit-mask-image: linear-gradient(to top, transparent, black 50%);
  mask-image: linear-gradient(to top, transparent, black 50%);
}
.char-card:hover .game-02 {
  transform: translate3d(0%, -40%, 100px);
  scale: 1;
}
.char-card:hover .tv {
  transform: translate3d(5%, -30%, 100px);
  scale: 1;
  transition: 0.7s;
}
.char-card:hover .tv-02 {
  transform: translate3d(-5%, -20%, 100px);
  scale: 1;
}
.sub-box {
  border-bottom: 1px solid #ccc;
  height: 120px;
}
.sub-box li a {
  letter-spacing: 2px;
}
.sub-video {
  display: flex;
  width: 1000px;
  height: 320px;
}
.sub-video li {
  width: 230px;
  height: 200px;
  padding-top: 40px;
  margin-bottom: 40px;
}
.sub-video li:hover .move-btn {
  opacity: 1;
  scale: 1.2;
  background-color: #c75534;
  border: 2px solid #c75534;
  transition: 0.3s;
}
.sub-video li:hover .arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #fff;
  transition: 0.3s;
}
.sub-video img {
  width: 230px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.sub-video .sub-page-title {
  height: 100px;
}
.sub-video .sub-page-title h4 {
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
  height: 80px;
  text-align: left;
}
.sub-video .sub-page-title > span {
  font-size: 14px;
  font-weight: 100;
  display: flex;
  width: 230px;
  margin: 0 auto;
}
.sub-page-title {
  margin: 0 auto;
  width: 250px;
  height: 50px;
}
.sub-page-title h4 {
  letter-spacing: 1px;
}
.sub-page-title span {
  font-weight: 300;
  font-size: 15px;
  color: #555;
}
.video-box ul {
  margin: 0 auto;
  width: 800px;
  height: 20px;
}
.sub-box ul li:hover a {
  color: #d7a151;
}
.sub-box ul li a {
  font-size: 15px;
  font-weight: 600;
  color: #888;
}
.sub-first-title {
  margin: 20px auto;
  letter-spacing: 2px;
}
.sub-first-title h1 {
  color: #d33b35;
}
.move-btn {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #eee;
  border: 2px solid #fff;
  position: absolute;
  margin-top: 60px;
  margin-left: 110px;
  opacity: 0.6;
  transition: 0.3s;
}
.move-btn .arrow {
  width: 0;
  height: 0;
  margin-left: 20%;
  margin-top: 25%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #c75534;
  rotate: 90deg;
  transition: 0.3s;
}

/* part-1 */
.part-1 {
  width: 100%;
  height: 60vh;
}
.body-title {
  width: 100%;
  height: 10vh;
  text-align: center;
  margin-top: 10px;
}
.body-title h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 40px;
}
.body-title::before {
  content: "";
  width: 100%;
  height: 3.2vh;
  background-color: #fff;
  position: absolute;
  margin-top: 3.1vh;
  left: 0;
  z-index: -1;
}
.body-title h1::before {
  content: "";
  position: absolute;
  z-index: -2;
  margin-left: -20px;
  margin-top: 16px;
  text-align: center;
  width: 100px;
  height: 60px;
  background-color: #d7a151;
  clip-path: polygon(60% 0%, 63% 0%, 23% 100%, 20% 100%, 60% 0%);
}
.body-title h1 {
  line-height: 10vh;
  letter-spacing: 0.3vw;
}
.slider {
  margin: 0 auto;
  max-width: 100%;
}
.slide_viewer {
  height: 50vh;
  overflow: hidden;
  position: relative;
}
.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}
.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}
.slide:first-child {
  display: block;
}
.slide:nth-of-type(1) {
  background: #d7a151;
}
.slide:nth-of-type(2) {
  background: #f4e4cd;
}
.slide:nth-of-type(3) {
  background: #c75534;
}
.slide:nth-of-type(4) {
  background: #d1d1d4;
}
.slide_buttons {
  left: 0;
  right: 0;
  bottom: 25%;
  position: absolute;
  text-align: center;
}
a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.slide_btn.active,
.slide_btn:hover {
  color: #d33b35;
  cursor: pointer;
}
.slide-content {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 13%;
  top: 20%;
  color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.slide-content .title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 5vh;
}
.slide-content .title::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 50px;
  height: 4px;
  background-color: #ebb732;
  margin-bottom: 5vh;
  rotate: -55deg;
  left: 0;
  top: 25px;
}
.slide-content .ct001 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 5vh;
  text-transform: uppercase;
}
.slide-content .ct002 {
  margin-top: 30px;
  line-height: 3vh;
  font-size: 20px;
  letter-spacing: 2px;
}
.slide-btn-box {
  display: flex;
  position: absolute;
  bottom: 0;
  margin: 0;
  text-transform: uppercase;
}
.slide-content .marvel-button {
  margin-right: 20px;
  margin-bottom: 0;
  width: 160px;
  background-color: #c75534;
}
.slide-content .inside-bg {
  font-size: 17px;
  background-color: #c75534;
  text-align: center;
  letter-spacing: 1px;
}
.slide-content .marvel-button:hover {
  transition: 0.2s;
  background-color: #fff;
}
.directional_nav {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  top: -25vh;
}
.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}
.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}
.previous_btn,
.next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}
.part-1 svg {
  filter: invert(90%);
}
.previous_btn:hover,
.next_btn:hover {
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}

/* part-2 */
.part-2 {
  margin: 0 auto;
  height: 50vh;
  /* min-height: 568px; */
  position: relative;
}
.part-2 a {
  transition: 1s;
}
.part-2 a:hover {
  color: #01f5fe;
}
.comics-box {
  color: #000;
  margin: 3vh;
  padding: 0;
}
.hidden-box {
  width: 95%;
  height: 95%;
  position: absolute;
  background-color: #777;
  left: 2.5%;
  top: 50vh;
  z-index: 1;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  overflow-y: auto;
  border-radius: 10px;
}
.comics-container {
  overflow-x: auto;
  width: 1040px;
  height: 350px;
  margin: 0 auto;
}
.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1800px;
  padding: 0 10px;
}
.comics-container::-webkit-scrollbar {
  height: 4px; /* 수평 스크롤바의 너비 */
}
.comics-container::-webkit-scrollbar-thumb {
  background-color: #c75534; /* 스크롤바의 색상 */
  border-radius: 6px; /* 스크롤바의 모서리를 둥글게 만듭니다. */
}
.comics-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* 스크롤바 트랙의 배경 색상 */
}
.box {
  flex-shrink: 0;
  width: 200px;
  height: 300px;
  background-color: #ddd;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #fff;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.7s;
}
.hidden-box {
  width: 190px;
  height: 285px;
  position: absolute;
  background-color: #777;
  margin-left: calc(50% - 101px);
  top: 50vh;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
  border-radius: 10px;
}
.box-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 90%;
  height: 95%;
  color: #fff;
  -webkit-mask-image: linear-gradient(to top, transparent, black 5%);
  mask-image: linear-gradient(to top, transparent, black);
}
.box-content::-webkit-scrollbar {
  width: 4px;
}

.box-content::-webkit-scrollbar-thumb {
  border-radius: 6px;
}
.box-content .title {
  margin-top: 10px;
  margin-bottom: 5%;
  border-bottom: 3px solid #ebb732;
  padding: 10px 0;
  font-size: 20px;
}
.box-content h3 {
  font-size: 17px;
  padding: 5px;
}
.box-content p {
  text-align: left;
  color: #eee;
  font-size: 0.9vw;
  line-height: 2vh;
  text-shadow: none;
}
.box:hover .hidden-box {
  opacity: 0.8;
  top: 2.5%;
  transition: 0.3s ease-in;
  border: 1px solid #fff;
  box-shadow: 1px 1px 5px #000;
}
.box:hover img {
  filter: blur(5px);
  transition: 1s ease-out;
}
.available-now {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  transition: 0.2s ease-in;
  border: 1px solid #eee;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}
.available-now:hover {
  background-color: #999;
  transition: 0.2s ease-in;
}
.available-now h3 {
  color: #fff;
  padding-top: 20%;
}
.available-now .gold-bar {
  border: 2px solid #ebb732;
  width: 60%;
  margin: 10px auto;
}
.available-now p {
  font-size: 1.5vw;
  font-weight: 900;
  color: #fff;
  text-shadow: none;
}
.available-now .small {
  font-size: 0.9vw;
  font-weight: 400;
}

/* part-3 */
.part-3 {
  margin: 0 auto;
  height: 130vh;
  min-height: 568px;
  position: relative;
}
.movie-box {
  display: flex;
  width: 100%;
}
.bg-display {
  position: absolute;
  width: 100%;
  height: 650px;
  margin-top: 400px;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-circle {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-color: #fac6b8;
  display: flex;
  margin-top: -10%;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  top: 70%;
  left: calc(50% - 75px);
}
.bg-circle i {
  font-size: 80px;
  color: #fff;
  animation: jump 1s infinite;
}
.bg-circle .click-please {
  position: absolute;
  left: calc(50% - 500px);
  margin-top: 170%;
  width: 1000px;
  text-align: center;
}
.bg-circle span {
  font-size: 50px;
  width: 100%;
  line-height: 30px;
  opacity: 0.5;
  letter-spacing: 2px;
  font-weight: 600;
}
#menu {
  width: 200px;
  padding-left: 10vw;
  padding-top: 2vh;
}
#menu ul {
  height: 15vh;
  margin-top: 1vh;
}
#menu ul li {
  line-height: 5vh;
  border-radius: 30px;
}
#menu ul li:hover {
  background-color: #d33b35;
}
#menu ul li:hover a {
  color: #fff;
  font-weight: 800;
}
#menu ul li a {
  padding-left: 1vw;
  display: block;
  font-weight: 700;
  font-size: 22px;
}
@media screen and (max-width: 1191px) {
  #menu ul li a {
    font-size: 15px;
  }
  #menu ul li {
    line-height: 3vh;
    margin: 10px 0;
  }
}
.menu-content {
  overflow: hidden;
  width: 100%;
}
.thumbnails-container {
  display: flex;
  width: 60vw;
  height: 25vh;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
}
.thumbnails-container::-webkit-scrollbar {
  height: 4px;
}
.thumbnails-container::-webkit-scrollbar-thumb {
  background-color: #c75534;
  border-radius: 6px;
}

.thumbnails-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.thumbnail {
  cursor: pointer;
  transition: 0.3s;
}
.thumbnail:hover {
  scale: 1.05;
  transition: 0.3s;
  padding: 0 10px;
}
.thumbnail img {
  border-radius: 10px;
}
.video-player-box {
  margin-top: 6vh;
  width: 1000px;
}
#videoPlayer {
  width: 968px;
  height: 605px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000;
}
#videoContainer {
  display: none;
  overflow: hidden;
  transition: all 1.5s ease-out; /* 에니메이션을 위한 트랜지션 설정 */
}
.hidden {
  opacity: 0;
  height: 0;
}
.video-menu {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #d33b35;
}
.video-menu .video-title {
  font-size: 18px;
  line-height: 30px;
  height: 30px;
  font-weight: 700;
  margin-top: 10px;
}
.thumbnail {
  margin: 0 10px;
}
.thumbnail .video-title {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: white-space 0.3s ease;
}
.thumbnail .video-description {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: white-space 0.3s ease;
  font-size: 14px;
}
.thumbnail:hover .scroll-move {
  display: inline-block;
  animation: marquee 10s linear infinite;
  letter-spacing: 0.1vw;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#videoTitle {
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 1vh;
}
.video-description {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.1vw;
  margin-top: 5px;
  color: #777;
}
#videoDescription {
  font-size: 17px;
  width: 97%;
  color: #333;
}
.line {
  width: 97%;
  height: 2px;
  background-color: #999;
  margin-bottom: 10px;
}

/* part-4 */
.part-4 {
  margin: 0 auto;
  height: 70vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.part-4 .container div {
  width: 300px;
  height: 200px;
}
.card-flip {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  border-top: 5px solid #e3ceae;
  border-bottom: 5px solid #e3ceae;
  border-style: dashed;
  border-left: none;
  border-right: none;
}
.card-flip::-webkit-scrollbar {
  width: 4px;
}
.card-flip::-webkit-scrollbar-thumb {
  background-color: #c75534;
  border-radius: 6px;
}
.container {
  margin: 20px;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}
.card {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}
.front,
.back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
.front {
  bottom: 0px;
  left: 0px;
  border: 3px solid #d33b35;
  border-radius: 20px;
  transition: 0.2s ease-out;
  overflow: hidden;
}
.front h1 {
  width: 90%;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  letter-spacing: 1px;
  margin-bottom: 5px;
  transition: 0.2s;
  font-weight: 700;
  font-size: 25px;
}
.front p {
  font-size: 15px;
  margin: 5px;
  color: #eee;
  text-shadow: 1px 1px 1px #000;
  letter-spacing: 1px;
  transition: 0.2s;
  font-weight: 700;
}
.front p:nth-child(3) {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 3px 8px;
}
.front img {
  position: absolute;
  z-index: -1;
  opacity: 1;
  transition: 0.2s;
  scale: 0.7;
}
.front::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.front:hover img {
  opacity: 0.7;
  transition: 0.2s;
}
.front:hover {
  bottom: 2px;
  left: 2px;
  box-shadow: 0px 0px 10px 1px #999;
  transition: 0.2s ease-in;
}
.front:hover h1,
p {
  text-shadow: 1px 2px 2px #000;
  transition: 0.2s;
}
.back {
  bottom: 0px;
  left: 0px;
  border: 2px solid #c75534;
  border-radius: 20px;
  transform: rotateY(180deg);
  transition: 0.2s;
  background-color: #fff;
}
.back::before {
  content: "";
  width: 97%;
  height: 95%;
  border: 2px solid #ddd;
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back p {
  width: 80%;
  text-shadow: 1px 1px 1px #eee;
  font-weight: 600;
  font-size: 16px;
  color: #666;
  transition: 0.2s;
}
.back > a {
  margin-top: 20px;
  color: #888;
  font-weight: 800;
  transition: 0.2s;
}
.back > a:hover {
  color: #c75534;
  font-weight: 800;
  transition: 0.2s;
}

.back:hover {
  bottom: 2px;
  right: 2px;
  box-shadow: 0px 0px 10px 1px #999;
  transition: 0.2s;
}

/* part-5 */
.part-5 {
  height: 70vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.sale-box {
  width: 100%;
  height: 70%;
}
.bg-box {
  width: 100%;
  height: 100%;
  background-image: url(https://i.imgur.com/mr3ZBKT.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
  filter: grayscale(10);
  transition: 0.3s ease-in;
}
.sale-box:hover .bg-box {
  filter: grayscale(0);
  transition: 0.3s ease-in;
}
#right-bg {
  position: absolute;
  right: 0;
  z-index: -1;
}
.slider-container {
  position: relative;
  z-index: 2;
  width: 55%;
  height: 120%;
  overflow: hidden;
  overflow-x: auto;
  display: flex;
  align-items: center;
  margin-left: 40%;
  top: -10%;
}
.slider-container::-webkit-scrollbar {
  height: 4px;
}
.slider-container::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: 6px;
}
.slider-container::-webkit-scrollbar-track {
  background-color: none;
}
.slider-container .slider-2 {
  width: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin: 0 auto;
}
.slider-container .slide-list {
  min-width: 200px;
  height: 300px;
  margin: 10px;
  background: #eee;
  opacity: 0.6;
  border: 1px solid #666;
  border-radius: 5px;
}
.slide-list:hover {
  opacity: 1;
}
.sale-comics {
  margin-top: 155%;
  color: #fff;
  width: 200px;
}
.sale-comics h4 {
  letter-spacing: 1px;
  height: 40px;
}
.sale-comics p {
  font-size: 14px;
  margin-top: 10px;
}
.sale-box .prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  background-color: transparent;
  border: none;
}
.sale-box button:hover .circle {
  opacity: 0.9;
  transition: 0.3s;
}
.sale-box .prev {
  left: 40%;
}
.sale-box .next {
  right: 0%;
}
.circle {
  transition: 0.3s;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
.circle i {
  color: #fff;
  scale: 1.2;
}

/* part-6 */
.part-6 {
  margin: 0 auto;
  height: 40vh;
  width: 100%;
}
.banner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.left-ban {
  position: absolute;
  left: 0;
  width: 500px;
  height: 100%;
  border-left: 3px solid #ebb732;
  margin-left: 20%;
  background-image: url(https://i.imgur.com/PY7Ljra.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.right-ban {
  background-color: #fff;
  float: left;
  height: 100%;
  border-right: 3px solid #ebb732;
  display: flex;
  align-items: center;
  margin-left: 50%;
}
.right-ban span {
  display: block;
}
/* .right-ban #mybutton {
  margin: 10px;
} */
.ban-content {
  width: 500px;
  height: 80%;
  text-align: center;
}
.ban-1 {
  font-size: 16px;
  font-weight: 900;
  margin: 10px 0;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
}
.ban-1 .reverse {
  font-weight: 900;
  color: #fff;
  -webkit-text-stroke: 1px black;
  margin-left: 5px;
}
.ban-2 {
  position: absolute;
  font-size: 35px;
  font-weight: 900;
  margin-left: 100px;
  padding-top: 0px;
  animation: jump 1s ease-in-out infinite;
}
@keyframes jump {
  0% {
    padding-top: 5px;
  }
  50% {
    padding-top: 0px;
  }
  100% {
    padding-top: 5px;
  }
}
.ban-3 {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 70px;
  line-height: 25px;
}
.ban-4 {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #704040;
  margin-top: 60px;
}
.button-box {
  margin-top: 20px;
  margin-bottom: 100px;
}
.button-box:hover .inside-bg {
  background-color: #d33b35;
  color: #fff;
}
.button-box .marvel-button {
  background-color: #d33b35;
}
.button-box .inside-bg {
  background-color: #fff;
  color: #d33b35;
  letter-spacing: 1px;
}

/* footer */
footer {
  width: 100%;
  height: 50vh;
  border-top: 1px solid #000;
}
footer a {
  color: #000;
}
.footer-list {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #eee;
  font-size: 15px;
}
.logo-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 300px;
  overflow: hidden;
}
.logo-bg {
  position: absolute;
  z-index: -1;
  top: calc(50% - 50px);
  left: calc(50% - 40px);
  width: 80px;
  height: 100px;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff4949,
    rgb(255, 89, 89),
    #ffbaba,
    #ffffff
  );
  background-size: 250% 250%;
  animation: gradientAnimation 5s ease infinite;
}
.logo-bottom > .text {
  display: flex;
  align-items: center;
  font-size: 90px;
  color: #fff;
  font-weight: bold;
  position: relative;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 1; /* 텍스트가 배경 위에 올라오도록 적절한 z-index 값 설정 */
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.footer-list > .list-1,
.list-2 {
  width: 200px;
  margin: auto 70px;
}
.footer-list > .list-1 li,
.list-2 li {
  height: 60px;
  line-height: 60px;
}
.footer-list > .list-1 a,
.list-2 a {
  transition: 0.3s;
}
.footer-list > .list-1 li:hover > a,
.list-2 li:hover > a {
  color: #f34444;
  transition: 0.3s;
}
.list-3 {
  margin: auto 0;
}
.list-3 ul {
  height: auto;
  width: 100%;
  text-align: center;
}
.list-3 li {
  padding: 10px 0;
}
.list-3 div {
  transition: 0.3s;
  margin: 5px;
}
.list-3 li:hover div {
  color: #f34444;
  transition: 0.3s;
}
.insider {
  position: relative;
}
.insider:hover::before {
  scale: 2;
  transition: 0.2s;
  background-color: #ddd;
}
.insider-1::before {
  transition: 0.2s;
  content: "";
  width: 30px;
  height: 30px;
  scale: 1.5;
  position: absolute;
  margin-left: 8px;
  margin-top: -8px;
  z-index: -1;
  border-radius: 30px;
  border: 3px solid #ddd;
}
.insider-2::before {
  transition: 0.2s;
  content: "";
  width: 30px;
  height: 30px;
  scale: 1.5;
  position: absolute;
  margin-left: 8px;
  margin-top: 10px;
  z-index: -1;
  border-radius: 30px;
  border: 3px solid #ddd;
}
.insider-1 img,
.insider-2 img {
  width: 50px;
  filter: drop-shadow(1px 2px 2px #999);
}
.insider-1 img {
  scale: 1.3;
  margin-bottom: 10px;
}
.footer-follow {
  width: 900px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.footer-follow i {
  font-size: 35px;
  color: #999;
  transition: 0.3s;
}
.footer-follow i:hover {
  color: #000;
}
.follow-title {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
  padding: 5px;
}
.follow-list {
  width: 1000px;
  height: 50px;
  margin-top: 10px;
  margin-left: -55px;
  display: flex;
  justify-content: space-around;
}
.follow-list img {
  width: 50px;
  height: 50px;
  background-color: #ddd;
}
.footer-bottom {
  width: 100%;
  height: 100px;
  background-color: #333;
}
.bottom-list {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
}
.bottom-list ul {
  display: flex;
  line-height: 100px;
}
.bottom-list li {
  width: 250px;
  text-align: center;
}
.bottom-list li a {
  color: #eee;
  transition: 0.3s;
  font-size: 15px;
}
.bottom-list li:hover a {
  color: #f34444;
  transition: 0.3s;
}
